.profile {
     margin-top: 20px;
     top: 10px;
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.profile-header {
    padding: 20px;
}

.img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.p-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}

.p-tag, .p-location {
    font-size: 14px;
    color: #757575;
    margin: 0;
}

.list-prof {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f9f9f9;
}

.li-prof {
    text-align: center;
}

.span-one {
    font-size: 12px;
    color: #757575;
}

.span-two {
    font-size: 16px;
    font-weight: bold;
}
